.SideDrawer {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 200;
        height: calc(100% - 50px);
    bottom: 0;
    background-color: #000;
    /* padding: 32px 16px; */
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
      /* transition: visibility 0s linear 300ms, opacity 300ms; */
  
 
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateY(0);
}

.Close {
    transform: translateY(-150%);
}
/* 
  /* display: block;
    position: absolute;
    z-index: 1;
    top: 3.52941em;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 664px;
    background-color: #000;
    margin: 0 auto;
    padding: 45px 40px 8px; 
    height: auto;
     visibility: hidden; */